
.btn {

    padding: 16px 30px;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--gray);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--n-100);
    line-height: normal;
   text-transform: uppercase;
    // text-decoration: none;

    &::after, &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var( --inner);
       }  
    &::before {
     top: -50%;
     left: -25%;
     transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }

     
   &:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   &:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   &:hover {
    color: var(--n-100);
   }

@media (max-width: 575px) { 

   display: none;
}

}
.btn-one {

    padding: 16px 30px;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--gray);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--n-100);
   //  line-height: normal;
   text-transform: uppercase;
    // text-decoration: none;

    &::after, &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var( --inner);
       }

       
    &::before {
     top: -50%;
     left: -25%;
     transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }

     
   &:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   &:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   &:hover {
    color: var(--n-100);
   }
      @media (max-width: 575px) { 
         padding: 10px 15px;
      }
   }
   
.btn-two {

    padding: 16px 30px;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--gray);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    color: var(--n-100);
    line-height: normal;
   text-transform: uppercase;
    // text-decoration: none;

    &::after, &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var( --inner);
       }

       
    &::before {
     top: -50%;
     left: -25%;
     transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
    }

     
   &:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   &:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   &:hover {
    color: var(--n-100);
   }

}
   
   
   
  